name: "Move Tests"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  intent-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Runs move tests.
        run: nix develop --command bash -c 'cd move-intent-framework && aptos move test --dev --named-addresses aptos_intent=0x123'