name: "Solver Tests"
on:
  pull_request:
  push:
    branches:
      - main
      - real-main

jobs:
  solver-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Run solver tests
        run: nix develop --command bash -c 'cd solver && cargo test'

